@import "../../global-styles/global.module.scss";

.OrganisationLoginContainer {
  height: 100vh;
  width: 100vw;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  // overflow: hidden;

  &__left {
    width: 50%;
    height: 100%;
    padding: 10.4rem 6.25rem;
    background-color: #0d62ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        
        color: #FFF;
        text-align: center;
        @extend .h3Med;
        font-family: 'Typo-Round-bold';
       
       
    }
    img{
        margin-top: 2rem;
        height:80%;
    }
  }
  &__right {
    width: 50%;
    height: 100%;
    padding: 15rem 4.25rem;
    background-color: #dbe8ff;
    display: flex;
    align-items: center;
    justify-content: center;

    .formcontainer {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      h2 {
        text-align: center;
        @extend .h3Med;
      }
      .field {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        &_name {
          display: flex;
          gap: 1.5rem;
        }
        &_detail {
          width: 100%;
          display: flex;
          gap: 1.5rem;

        // &_1 ,&_2{
        //    width: 50%;
        // }
 
          &_1{
              // flex: 1;
             p{
              @extend .t4Lite;
              color: $neutral50;
              text-align: left;
              margin-bottom: .1rem;
             }
          }
         
          // &_2{
          //   flex: 2;
          // }

        }
        &_account {
          display: flex;
          gap: 1.5rem;
        }
      }

      p {
        text-align: center;
        @extend .t3Lite;
        span {
          @extend .t3Med;
          color: #0d62ff;
        }
      }

      .hr {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          padding: 0 1rem;
        }
        .line {
          width: 25%;
        }
      }

      .buttons {
        display: flex;
        gap: 1.5rem;
        .button {
          width: 100%;
          display: inline-flex;
          border-radius: 0.25rem;
          padding: 0.75rem 1.5rem;
          color: black;
          text-align: center;
          display: flex;
          
          align-items: center;
        //   justify-content: center;
          @extend .t4Bold;
          background: white;
          border: 0.15rem solid #9999999c;
          cursor: pointer;


          img{
            height: 1.5rem;
            padding: 0;
            
            margin: 0;
            margin-right: .8rem;
          }
        }
      }
    }
  }
}
