@import '../../../global-styles/global.module.scss';


button{
 display: flex;

 gap:.5rem;
}


.primaryBtnLightTheme {

  width: 100%;
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: $neutral100;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .t3Bold;
  background: $primary40;
  border: .06rem solid $primary50;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease-in-out; 

  &:not(:disabled):hover {
    box-shadow: 0rem 0rem 0rem .25rem $primary90;
    transform: translateY(-.1rem);
  }

  &:not(:disabled):active {
    box-shadow: none;
    background: $primary30;
    transform: translateY(.1rem);
  }

  &[disabled] {
    border: 1rem solid $neutral90;
    background: $neutral90;
    color: $neutral100;
    cursor: not-allowed;
  }
  
}




// dark mode classes
.primaryBtnDarkTheme {


  width: 100%;
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: $neutral100;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .t3Bold;
  background: $primary50;
  border: .06rem solid $primary50;
  cursor: pointer;
  white-space: nowrap;

}

.primaryBtnDarkTheme:not(:disabled):hover {
  box-shadow: 0rem 0rem 0rem .25rem  $primary80;
}

.primaryBtnDarkTheme:not(:disabled):active {
  background: $primary60;
  border-color: transparent;
  box-shadow: 0rem 0rem 0rem .25rem  $primary80;
}

.primaryBtnDarkTheme[disabled] {
  color: $neutral100;
  background: $neutral20;
  border: .06rem solid $neutral20;
  cursor: not-allowed;
}
