@import "../../../global-styles/global.module.scss";

$primaryColor: $primary40;
$primaryHoverColor: $primary90;
$primaryActiveColor: $primary30;
$disabledColor: $neutral90;
$disabledBgColor: $neutral90;

.button-base {
  width: 100%;
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: $neutral100;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  @extend .t3Bold;
  border: 0.06rem solid $primary50;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.primaryBtnLightTheme {
  @extend .button-base;
  background: $primaryColor;
  &:not(:disabled):hover {
    box-shadow: 0rem 0rem 0rem 0.25rem $primaryHoverColor;
    transform: translateY(-0.1rem);
  }

  &:not(:disabled):active {
    box-shadow: none;
    background: $primaryActiveColor;
    transform: translateY(0.1rem);
  }

  &[disabled] {
    border: none;
    background: $neutral90;
    color: $neutral70;
    cursor: not-allowed;
  }
}

.primaryBtnDarkTheme {
  @extend .button-base;
  background: $primary60;
  border-color: $primary60;
  color: $primary10;

  &:not(:disabled):hover {
    box-shadow: 0rem 0rem 0rem 0.25rem $primary80;
  }

  &:not(:disabled):active {
    color: $neutral100;
    background: $primary50;
    border-color: transparent;
    box-shadow: none;
  }

  &[disabled] {
    border: none;
    background: $neutral40;
    color: $neutral70;
    cursor: not-allowed;
  }
}


