@import '../../../global-styles/global.module.scss';

.table{

    width: 100%;
    height: 100%;

    .header{
        background-color: $neutral95;
        padding: 1rem;

        width: 100%;
        border-bottom: .2rem solid $neutral30;

       
        .name{
        //   width: 5cqmin;
          padding: 1rem .5rem;
          @extend .t3Med;
          width: 50%;
        }
        .completed {
         width: 30%;
         padding: 1rem .5rem; 
         @extend .t3Med;
        }

        .score{
          width: 40%;
          padding: .5rem ;
          @extend .t3Med;
        }


    }
    .row{
        border: 1rem solid black;
        @extend .t3Reg;
        padding: 1rem ; 
        // background-color: red;
        

 
        .name{
            width: 50%;
            padding: 1rem;
            
          }
          .completed {
           width: 20%;
           padding: 1rem ; 
           
          }
  
          .score{
            width: 30%;
            padding: 1rem ;
           
          }
  
    }
}
