@import '../../../global-styles/global.module.scss';


.tertiaryBtnLightTheme {
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: $primary50;
  @extend .t3Reg;
  text-align: center;
  border: .06rem solid transparent;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease-in-out; 


&:not(:disabled):hover {
  border: .06rem solid $neutral80;
  transform: translateY(-.2rem);
}

&:not(:disabled):active {
  transform: translateY(.1rem);
  color: $primary50;
  border: .06rem solid $neutral80;
  background-color: $neutral90;
}

&[disabled] {
  color: $neutral70;
  cursor: not-allowed;
}
}


.tertiaryBtnDarkTheme {
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: $primary99;
  @extend .t3Reg;
  text-align: center;
  border: .06rem solid transparent;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.tertiaryBtnDarkTheme:not(:disabled):hover {
  border: .06rem solid $primary99;
}

.tertiaryBtnDarkTheme:not(:disabled):active {
  color: $primary50;
  border: .06rem solid $primary99;
  background-color: $primary99;
}

.tertiaryBtnDarkTheme[disabled] {
  color: $neutral90;
  background: $neutral20;
  cursor: not-allowed;
}
