@import '../../../global-styles/global.module.scss';

@mixin commonBtnStyles {
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  @extend .t3Reg;
  text-align: center;
  gap: 0.8rem;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.tertiaryBtnLightTheme {
  color: $primary40;

  @include commonBtnStyles;

  &:not(:disabled):hover {
    color: $primary40;
    background-color: $primary90;
    transform: translateY(-0.1rem);
  }

  &:not(:disabled):active {
    color: $primary50;
    transform: translateY(0.1rem);
    background-color: $primary80;
  }

  &[disabled] {
    color: $neutral70;
    cursor: not-allowed;
  }
}

.tertiaryBtnDarkTheme {
  color: $primary70;

  @include commonBtnStyles;

  &:not(:disabled):hover {
    color: $neutral100;
    background-color: $primary60;
    transform: translateY(-0.1rem);
  }

  &:not(:disabled):active {
    color: $neutral100;
    transform: translateY(0.1rem);
    background-color: $primary50;
  }

  &[disabled] {
    color: $neutral70;
    background: transparent;
    cursor: not-allowed;
  }
}
