@import "../../global-styles/global.module.scss";
.dashboardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  padding-bottom: 1.5rem;
 

 

  .column1{
    display: flex;
  
    gap:1.5rem;

    .div1 ,.div2 , .div3 , .div4{
      height: 11dvw;
      height: 11vw;
      overflow: hidden;
        flex: 1;
       
    }
  }

  .column2{
    display: flex;
  
    gap:1.5rem;

    .div5 , .div6{
      
      height: calc(100% - 20vw) / 2;
      overflow: hidden;
        flex: 1;
       
    }

  }


  .column3{
    display: flex;
  
    gap:1.5rem;
    

    .div7 , .div8{
      // height: 16dvwh
      height: calc(100% - 20vw) / 2;
      overflow: hidden;
        flex: 1;
        // margin-bottom: 1.5rem;
        // background-color: rgb(201, 63, 192);
    }

  }

   .heading {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      height: 20%;
      width: 100%;
      padding: 0.5rem 1rem;
      overflow: visible;
      margin-top: 0.5rem;
     

      &_left {
        // flex:2;

        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        h4 {
          @extend .h5Med;
        }

        h5 {
          @extend .t2Lite;
          white-space: nowrap;
        }
      }
      &_right {
        // flex:1;
        position: relative;
        margin-top: 0.5rem;
        display: flex;
        justify-content: end;
        cursor: pointer;
       
       
        height: 1rem;
        width: 1rem;
        
        img {
          // height: 1rem;
          // width: 1rem;
          position: absolute;
          display: none;
          
        }
        button{
          @extend .lightThemeLowest;
          
          @extend .t3Lite;
          padding: .6rem;
          border: 1.5px solid $neutral90;
          border-radius: .4rem;
          position: absolute;
          top:-1.5rem;
          left:0.8rem;
          white-space: nowrap;
          cursor: pointer;

        
        }
       
      }


      
    }

  .div1 {
  // min-height: 12rem;
  //   overflow: visible;
    grid-area: 1 / 1 / 4 / 2;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;
    // padding: 1rem;
    .heading {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      height: 20%;
      width: 100%;
      padding: 0.5rem 1rem;
      overflow: visible;
      margin-top: 0.5rem;
     

      &_left {
        // flex:2;

        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        h4 {
          @extend .h5Med;
        }

        h5 {
          @extend .t2Lite;
          white-space: nowrap;
        }
      }
      &_right {
        // flex:1;
        position: relative;
        margin-top: 0.5rem;
        display: flex;
        justify-content: end;
        cursor: pointer;
       
       
        height: 1rem;
        width: 1rem;
        
        img {
          // height: 1rem;
          // width: 1rem;
          position: absolute;
          display: none;
          
        }
        button{
          @extend .lightThemeLowest;
          
          @extend .t3Lite;
          padding: .6rem;
          border: 1.5px solid $neutral90;
          border-radius: .4rem;
          position: absolute;
          top:-1.5rem;
          left:0.8rem;
          white-space: nowrap;
          cursor: pointer;

        
        }
       
      }


      
    }

    .chart {
      height: 8vw;
      width: 100%;
      // padding: 0 0.5rem;
      margin-top: 0.5rem;
    }

    &:hover {
      .heading {
        &_right {
          img{
            display: flex;
          }
         
        }
      }
    }
  }

  .div2 {
  //  min-height: 12rem;
  //   overflow: visible;
    grid-area: 1 / 2 / 4 / 3;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;
    // padding: 1rem;
    .heading {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      height: 20%;
      width: 100%;
      padding: 0.5rem 1rem;
      overflow: visible;
      margin-top: 0.5rem;
     

      &_left {
        // flex:2;

        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        h4 {
          @extend .h5Med;
        }

        h5 {
          @extend .t2Lite;
          white-space: nowrap;
        }
      }
      &_right {
        // flex:1;
        position: relative;
        margin-top: 0.5rem;
        display: flex;
        justify-content: end;
        cursor: pointer;
       
       
        height: 1rem;
        width: 1rem;
        
        img {
          // height: 1rem;
          // width: 1rem;
          position: absolute;
          display: none;
          
        }
        button{
          @extend .lightThemeLowest;
          
          @extend .t3Lite;
          padding: .6rem;
          border: 1.5px solid $neutral90;
          border-radius: .4rem;
          position: absolute;
          top:-1.5rem;
          left:0.8rem;
          white-space: nowrap;
          cursor: pointer;

        
        }
       
      }


      
    }

    .chart {
      height: 8vw;
      width: 100%;
      // padding: 0 0.5rem;
      margin-top: 0.5rem;
    }
    &:hover {
      .heading {
        &_right {
          display: flex;
        }
      }
    }
  }
  .div3 {
    // min-height: 12rem;
    // overflow: visible;
    grid-area: 1 / 3 / 4 / 4;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;
    // padding: 1rem;
    .heading {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      height: 20%;
      width: 100%;
      padding: 0.5rem 1rem;
      overflow: visible;
      margin-top: 0.5rem;
     

      &_left {
        // flex:2;

        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        h4 {
          @extend .h5Med;
        }

        h5 {
          @extend .t2Lite;
          white-space: nowrap;
        }
      }
      &_right {
        // flex:1;
        position: relative;
        margin-top: 0.5rem;
        display: flex;
        justify-content: end;
        cursor: pointer;
       
       
        height: 1rem;
        width: 1rem;
        
        img {
          // height: 1rem;
          // width: 1rem;
          position: absolute;
          display: none;
          
        }
        button{
          @extend .lightThemeLowest;
          
          @extend .t3Lite;
          padding: .6rem;
          border: 1.5px solid $neutral90;
          border-radius: .4rem;
          position: absolute;
          top:-1.5rem;
          left:0.8rem;
          white-space: nowrap;
          cursor: pointer;

        
        }
       
      }


      
    }

    .chart {
      height: 8vw;
      width: 100%;
      // padding: 0 0.5rem;
      margin-top: 0.5rem;
    }
    &:hover {
      .heading {
        &_right {
          display: flex;
        }
      }
    }
  }
  .div4 {
    // min-height: 12rem;
    // overflow: visible;
    grid-area: 1 / 4 / 4 / 5;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;
    // padding: 1rem;
    .heading {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      height: 20%;
      width: 100%;
      padding: 0.5rem 1rem;
      overflow: visible;
      margin-top: 0.5rem;
     

      &_left {
        // flex:2;

        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        h4 {
          @extend .h5Med;
        }

        h5 {
          @extend .t2Lite;
          white-space: nowrap;
        }
      }
      &_right {
        // flex:1;
        position: relative;
        margin-top: 0.5rem;
        display: flex;
        justify-content: end;
        cursor: pointer;
       
       
       
        height: 1rem;
        width: 1rem;
        
        img {
          // height: 1rem;
          // width: 1rem;
          position: absolute;
          display: none;
          
        }
        button{
          @extend .lightThemeLowest;
          
          @extend .t3Lite;
          padding: .6rem;
          border: 1.5px solid $neutral90;
          border-radius: .4rem;
          position: absolute;
          top:-1.5rem;
          left: -11rem;
          white-space: nowrap;
          cursor: pointer;

        
        }
       
      }


      
    }
    .chart {
      height: 8vw;
      height: 8dvw;
      width: 100%;
      // padding: 0 0.5rem;
      margin-top: 0.5rem;
    }
    &:hover {
      .heading {
        &_right {
          display: flex;
        }
      }
    }
  }
  .div5 {
   
    grid-area: 4 / 1 / 9 / 3;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;

    &_heading {
      

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: .3rem;
        gap: 20%;

        h2{
          white-space: nowrap;
        }
    }

    .chart {
      height: 70%;
      width: 100%;
    }
  }
  .div6 {
    // min-height: 17rem;
    // overflow: visible;
    grid-area: 4 / 3 / 8 / 5;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;
    // padding: 1rem;
    display: flex;

    &_left {
      padding: 1rem;
      width: 50%;
      //  padding: 0 1rem;
    }

    &_right {
      height: 100%;
      width: 50%;
     
      // background-color: red;
    }
  }
  .div7 {
    // height: 15rem;
    // overflow: visible;
    grid-area: 9 / 1 / 13 / 3;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;

    // padding: 1rem;
    display: flex;

    &_left {
      width: 50%;
      height: 100%;
      padding: 1rem;
      //  padding: 0 1rem;
    }

    &_right {
      height: 100%;
      width: 50%;
    }
  }
  .div8 {
    // height: 19.5rem;
    // overflow: visible;
    grid-area: 8 / 3 / 13 / 5;
    @extend .lightThemeLowest;
    border-radius: 0.25rem;

    &_heading {
     
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin-bottom: .3rem;
      gap: 20%;

      h2{
        white-space: nowrap;
      }
    }

    .chart {
      height: 70%;
      width: 100%;
    }
  }
}



.formContain{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;

  .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $neutral100;
    padding: 1rem;
   

    &_left{
      display: flex;
      gap:1rem;
    }
  }

  .button{
    margin-top: 1rem;
  }
  
}
