@import '../../../global-styles/global.module.scss';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  white-space: nowrap;
  @extend .t3Med;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.secondaryBtnLightTheme {
  @extend .button;
  color: $neutral20;
 
  border: 0.09rem solid $neutral80;

  &:not(:disabled):hover {
    border: 0.09rem solid $primary50;
    transform: translateY(-0.1rem);
  }

  &:not(:disabled):active {
    border: 0.09rem solid $primary50;
    background: $neutral99;
    box-shadow: 0 0 0 0.25rem $primary90;
    transform: translateY(0.1rem);
  }

  &[disabled] {
    border: none;
    background: $neutral90;
    color: $neutral70;
    cursor: not-allowed;
  }
}

.secondaryBtnDarkTheme{
  @extend .button;
  color: $primary80;
 
  border: 0.09rem solid $primary80;

  &:not(:disabled):hover {
    border: 0.0625rem solid $primary60;
    color: $primary60;
  }

  &:not(:disabled):active {
    color: $primary10;
    border:none;
    background: $primary70;
    box-shadow: none;
  }

  &[disabled] {
    // border: .1rem solid $disabledColor;
    border: none;
    background: $neutral40;
    color: $neutral70;
    cursor: not-allowed;
    border: 0.09rem solid  $neutral70;
  }
}
