@import '../../global-styles/global.module.scss';

.tableContainer {
  // overflow-y:scroll;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral90;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    align-self: stretch;
    padding: 0rem 1.5rem;
    background: $neutral100;
    color: $neutral40;
   

    &_left{
      @extend .t1Reg;
    }
    &_right{
      display: flex;
      gap: 1rem;

      img{
        cursor: pointer;
      }

    }
  }

  .footer {
    display: flex;
    padding: .5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 0.0625rem solid $neutral95;
    color: $neutral30;
    @extend .t4Reg;
    background-color: $neutral100;

    .paginationBtnContainer {
      display: flex;
      align-items: flex-start;
      gap: 1.5rem;
      border-radius: 0.25rem;

      .paginationBtn {
        display: flex;
        padding: .5rem 1.25rem;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        border-radius: .25rem;
        border: .06rem solid $neutral90;
        background: $neutral100;
        color: $neutral30;
        @extend .t3Reg;
      }

      .paginationBtn[disabled] {
        color: $neutral100;
        background: $neutral90;
      }
    }
  }

  .table {
    
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      
    }
    .tableBody{
      overflow-y:scroll;
    }
  }
}


.formContain2{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;

  .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $neutral100;
    padding: 1rem;
   

    &_left{
      display: flex;
      gap:1rem;
    }
  }

  .button{
    margin-top: 1rem;
  }
  
}


.formContain1{
 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  // gap:1rem;

  .row{
    width:70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $neutral100;
    // gap: .5rem;
    padding: .5rem 2rem;
    padding-right: 0rem;

    &_1{
      width:35%
      // flex: 2;
    }
    &_2{width:25%
      // flex: 1;
    }
    &_3{width:35%
      // flex: 2;
    }
    &_4{width:5%;
      margin-left:2rem;
      // flex: .2;
    }
    
   
  }
  .button{
    margin-top: 1rem;
  }

}