@import "../../global-styles/global.module.scss";

.signupContainer {
  height: 100vh;
  width: 100vw;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  // overflow: hidden;

  &__left {
    width: 50%;
    height: 100%;
    padding: 10.4rem 6.25rem;
    background-color: #0d62ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        
        color: #FFF;
        text-align: center;
        @include h3Med;
        font-family: 'Typo-Round-bold';
       
       
    }
    img{
        margin-top: 2rem;
        height:80%;
    }
  }
  &__right {
    width: 50%;
    height: 100%;
    padding: 15rem 4.25rem;
    background-color: #dbe8ff;
    display: flex;
    align-items: center;
    justify-content: center;

    .formcontainer {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      h2 {
        text-align: center;
        @include h3Med;
      }
      .field {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        &_name {
          display: flex;
          gap: 1.5rem;
        }
        &_detail {
          display: flex;
          gap: 1.5rem;
        }
        &_password {
          display: flex;
          gap: 1.5rem;
        }
        &_terms{
          display: flex;
          flex-direction: column;
          gap: .25rem;
          margin-top: 1rem;
          &_1 , &_2{
            display: flex;
           
            gap: 1rem;
            // justify-content: flex-start;
            align-items: center;
          }
        }
      }

      p {
        text-align: center;
        @include t3Lite;
        span {
          @include t3Med;
          color: #0d62ff;
          cursor: pointer;
        }
      }

      .hr {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          padding: 0 1rem;
        }
        .line {
          width: 25%;
          hr{
            border-style: none;
          border: .5px solid $neutral70;
          }
        }
      }

      .buttons {
        display: flex;
        gap: 1.5rem;
        .button {
          width: 100%;
          display: inline-flex;
          border-radius: 0.25rem;
          padding: 0.75rem 1.5rem;
          color: black;
          text-align: center;
          display: flex;
          
          align-items: center;
        //   justify-content: center;
          @include t4Bold;
          background: white;
          border: 0.0625rem solid  #e2e3e6;
          cursor: pointer;
        
          // .img{
          //   width: 2rem;
          // }

          img{
            height: 1.5rem;
            padding: 0;
            
            margin: 0;
            margin-right: .8rem;
          }
        }
      }
    }
  }
}
