@import '../../../global-styles/global.module.scss';

.btnGroupLightTheme {
  // height: 100%;
  display: inline-flex;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral90;
  

  .btnLightTheme {
    display: flex;
    padding: .9rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral90;
    border-right: .06rem solid $neutral90;
    background: $neutral100;
    color: $neutral20;
    @extend .t4Reg;
    cursor: pointer;
   
  }

  .selectedBtnLightTheme {
    display: flex;
    padding: .9rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral90;
    border-right: .06rem solid $neutral90;
    background: $neutral95;
    color: $neutral20;
    @extend .t4Bold;
    cursor: pointer;
    
  }
}

.btnGroupDarkTheme {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral100;

  .btnDarkTheme {
    display: flex;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral99;
    border-right: .06rem solid $neutral99;
    background: $neutral100;
    color: $neutral20;
    @extend .t4Reg;
    cursor: pointer;
  }

  .selectedBtnDarkTheme {
    display: flex;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral99;
    border-right: .06rem solid $neutral99;
    background: $neutral95;
    color: $neutral20;
    @extend .t4Bold;
    cursor: pointer;
  }
}
