@import '../global-styles/global.module.scss';

.layoutContainer {
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  .rightHandSection {
    width: 85vw;
    width: 85dvw;
    display: flex;
    flex-direction: column;

    .headerLightTheme {
      height: 11vh;
      height: 11dvh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0vw 1.5vw;
     
      @extend .lightThemeLowest ;

      .content {
        max-width: 70%;
        display: inline-flex;
        flex-direction: column;
        gap: .25rem;

        h4 {
          @extend .h4Med;
          color: $neutral20;
          margin: 0;
        }

        p {
          @extend .t1Lite;
          color: $neutral50;
          margin: 0;
        }
      }

      .actions {
        min-width: 28%;
        display: flex;
        justify-content: space-between;
        gap: 1.25rem;
        align-items: center;
      }
    }

    .headerDarkTheme {
      height: 11vh;
      height: 11dvh;
      

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0vw 1.5vw;
      
      @extend .darkThemeLowest ;

      .content {
        max-width: 70%;
        display: inline-flex;
        flex-direction: column;
        gap: .25rem;

        h4 {
       
          color: $neutral100;
          margin: 0;
        }

        p {
         
          color: $neutral95;
          margin: 0;
        }
      }

      .actions {
        min-width: 28%;
        display: flex;
        justify-content: space-between;
        gap: 1.25rem;
        align-items: center;
      }
    }
  }

  .page {
    padding: 1.25rem;
    overflow: scroll;
    height: calc(100vh - 9.5vh);
    height: calc(100dvh - 9.5dvh);
    
    
    @extend .lightThemeRegular  ;
  }

  .sidebarLightTheme {
    width: 15vw;
    height: 100vh;
    width: 15dvw;
    height: 100dvh;
  
    @extend .lightThemeLowest ;

    .logoContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 11vh;
      height: 11dvh;

      .logo {
        height: auto;
        width: 50%;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: .75rem;
      
    }
  }

  .sidebarDarkTheme {
    width: 15vw;
    height: 100vh;
   
    @extend .darkThemeLowest ;

    .logoContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 11vh;
      height: 11dvh;

      .logo {
        height: auto;
        width: 50%;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: .75rem;
      
    }
  }
}

@media screen and (max-width: 1400px) {
  .layoutContainer {
    .rightHandSection {
      width: 94vw;
      width: 94dvw;
    }

    .sidebarLightTheme,
    .sidebarDarkTheme {
      width: 6vw;
      width: 6dvw;

      .logoContainer {
        .logo {
          height: auto;
          width: 90%;
        }
      }
    }
  }
}
